<ion-header>
  <ion-navbar>
    <ion-title>My Cart</ion-title>
      <ion-buttons right *ngIf="!hideCart">
         <button ion-button icon-only>
            <ion-badge color="dark"  >{{p_qty}} </ion-badge>
            <ion-icon name="cart"></ion-icon>
         </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="cart.length">
  <!--p *ngIf="data">{{data.product_name}} <br> Price: {{data.product_price*qty}} </p-->
  <span *ngIf="!hideCart">
  <ion-card *ngFor="let product of cart; let index = index">
  <img src="{{product.product_image}}"/>
  <ion-card-content no-padding>
    <span>
      <ion-item-divider color="light" >Product SKU: {{product.product_sku}}</ion-item-divider>
      <ion-item-divider color="light" >Product Manufacture: {{product.product_manufacturer}}</ion-item-divider>
      <ion-item-divider color="light" >Product Tags: {{product.product_tags}}</ion-item-divider>
      <ion-item-divider color="light" >Product Name: {{product.product_name}}</ion-item-divider>
      <ion-item-divider color="light">Product Price: ₹ {{product.product_price}}</ion-item-divider>
      <div color="light" padding> <strong>Product Description:</strong>  {{product.product_description}}</div>
      <ion-item-divider color="light">Free Shipping</ion-item-divider>
       <ion-item-divider color="dark">{{p_qty}} <strong>₹ {{p_qty*product.product_price  }}</strong></ion-item-divider>
      </span>
  </ion-card-content>
  <ion-row no-padding>
      <ion-col>
        <button  ion-button clear small color="danger" (click)="removeFromCart(index)" icon-start>
           <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
          Delete
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start (click)="incQty()">
          <ion-icon ios="ios-add" md="md-add"></ion-icon>
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="dark" icon-start>
          {{p_qty}}
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start (click)="decQty()">
            <ion-icon ios="ios-remove" md="md-remove"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
</ion-card>
  </span>
  <ion-item-divider color="light">{{myAtta}}</ion-item-divider>
  <p *ngIf="!cart.length" padding text-center>
     Cart is Empty Please add Item
  </p>
</ion-content>
<ion-footer no-padding no-margin *ngIf="!hideCart">
    <ion-row>
        <ion-col col-6>
           <button ion-button full large color="header" no-padding no-margin *ngIf="cart.length"> Total: ₹{{calcTotalSum()}} </button>
        </ion-col>
        <ion-col col-6>
           <button ion-button full large color="header" no-padding no-margin  *ngIf="cart.length"  (click)="goCheckout()">Checkout &nbsp; <ion-icon name="card"></ion-icon></button>
        </ion-col>
    </ion-row>   
</ion-footer>
