<ion-header>
  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Products</ion-title>
     <ion-buttons right (click)="goToPage('CartPage')">
         <button ion-button icon-only>
            <ion-badge color="dark" *ngIf="cart.length" >{{cart.length}}</ion-badge>
            <ion-icon name="cart"></ion-icon>
         </button>
      </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content >
 <!--Fetch Data in Api-->
 <ion-grid>
   <ion-row>
    <ion-col *ngFor="let product of products |  productSearch:search"  col-6>
      <ion-card no-padding no-margin style="width: 100%">
      <img src="{{product.product_image}}" (click)="openProduct(product)">
       <ion-card-content>
        <p>{{product.product_id}}</p>
      <h4 ion-text color="primary"> {{product.product_name}} </h4>
        <p >Price: ${{product.product_price}}</p>
      </ion-card-content>
      <div class="cart-buttons">
         <button *ngIf="product.quantityInCart" color="light" ion-button small>
         {{product.quantityInCart}}
         </button>
      </div>
      <div class="cart-buttons" float-left>
      <ion-col text-left>
        <button ion-button clear small color="danger" icon-start (click)="shareInfo()">
          <ion-icon name='share-alt'></ion-icon>
        </button>
      </ion-col>
      </div>
   </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
